  <script async src="/js/utils.js"></script>
  <link rel="stylesheet" href="/css/reseter.css">
  <link rel="stylesheet" href="/css/typography.css">
  <link rel="stylesheet" href="/css/common.css">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="robots" content="index,follow,noodp" />
  <meta name="googlebot" content="index,follow,noodp" />
  <meta name="theme-color" content="#000000" />
  <link rel="sitemap" type="application/xml" title="Sitemap" href='{{ "sitemap.xml" | absURL }}' />
  <meta property="og:site_name" content="{{ $.Site.Title  }}" />
  {{ if isset $.Site.Params "twitter" }}
  <meta name="twitter:site" content="{{ $.Site.Params.twitter }}" />
  <meta name="twitter:creator" content="{{ $.Site.Params.twitter }}" />
  {{ end }}
  {{ if isset $.Site.Params "image" }}
  <meta itemprop="image" content="{{ .Site.Params.image | absURL }}" />
  <meta property="og:image" content="{{ .Site.Params.image | absURL }}" />
  <meta name="twitter:image" content="{{ .Site.Params.image | absURL }}" />
  <meta name="twitter:image:src" content="{{ .Site.Params.image | absURL }}" />
  {{ end }}
  <meta name="language" content="{{ .Site.Params.languagename }}" />
  {{ if isset $.Site.Params "iconpath" }}
  <link rel="apple-touch-icon" sizes="57x57" href="/{{.Site.Params.iconpath}}/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/{{.Site.Params.iconpath}}/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/{{.Site.Params.iconpath}}/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/{{.Site.Params.iconpath}}/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/{{.Site.Params.iconpath}}/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/{{.Site.Params.iconpath}}/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/{{.Site.Params.iconpath}}/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/{{.Site.Params.iconpath}}/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/{{.Site.Params.iconpath}}/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192"  href="/{{.Site.Params.iconpath}}/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/{{.Site.Params.iconpath}}/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="/{{.Site.Params.iconpath}}/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/{{.Site.Params.iconpath}}/favicon-16x16.png">
  <link rel="manifest" href="/{{.Site.Params.iconpath}}/manifest.json">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="/{{.Site.Params.iconpath}}/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">
  {{ end }}
  <link rel="stylesheet" href="/css/appbar.css">
  <script async src="/js/appbar.js"></script>
  <style type="text/css">
    :root {
    --primarycolor: {{.Site.Params.primarycolor | default "#3397e1" }};
    }
  </style>
