<div class="ab-w frow" id="appbar">
    <div class="ab-r">
        <a class="ab-h frow hover" href='{{ "/" | absLangURL  }}'>
             {{ if isset $.Site.Params "logo" }}
           <img draggable="false" class="ab-i" src="{{ .Site.Params.logo }}"/>
                {{end}}

                <span class="bold w2l a-ui">
                    {{$.Site.Title}}
                </span>
            
        </a>
        <div class="frow f1">
            {{ range .Site.Params.topButtons -}}
            <a href="{{ .url | relLangURL }}" class="ab-b alc w2l hover p8">{{ .name }}</a>

            {{- end }}
        </div>
    </div>
    <div class="ab-j alc" id="abtn">
        <img src="/icons/search.svg" alt="search" class="iconbg pnt fade" id="myBtn" />
            {{ if .Site.IsMultiLingual }}
        <div class="ab-dd">
            <div class="ab-db alc pnt fade">
                <img src="/icons/lang.svg" alt="Language selector" class="iconbg" />
                <p class="ph8">{{ .Site.Params.languagename }}</p>
                <img src="/icons/fold.svg" alt="arrow" class="iconbg" />
            </div>
            <div class="ab-dw sdw">
                {{ range $.Site.Home.AllTranslations }}
                <a href="{{ .Permalink }}" class="frow hover">
                    <img src="/icons/radio.svg" alt="arrow" class="iconrg mr8" />{{ .Site.Params.languagename }}</a>
                {{ end }}
            </div>
        </div>
            {{ end }}
    </div>
    <div id="myModal" class="ab-md">
        <div class="ab-mc">
            <span class="a-cl pnt" id="clsis">&times;</span>
            <script id="scont">
            </script>
            <div class="gcse-search"></div>
        </div>
    </div>
    {{ if isset $.Site.Params "googlecx" }}
    <script type="text/javascript">
    var _gcx = "{{.Site.Params.googlecx}}"
    </script>
    {{end}}
</div>
